.sidebar {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

.sidebar .sidebar-btn {
    background-color: var(--medium-yellow);
    color: var(--color-gray);
    font-weight: var(--font-bold);
    font-size: var(--font-sm);
    margin: 0.25em;
    border: 1px solid var(--border);
    border-radius: var(--border-rounded-md);
    padding: 0.2em 0.8em;
    cursor: pointer;
    filter: drop-shadow(0px 3px 0px rgba(0, 0, 0, 0.2));
}

.hint {
    display: flex;
    align-items: center;
    gap: 7px
}

.hint-list {
    display: flex;
    align-items: center;
    gap:7px;
}

.hint-item {
    background-color: var(--medium-yellow);
    border: 2px solid var(--border);
    border-radius: 6px;
    height: 25px;
    min-width: 10px;
}

.hint-list h1 {
    font-size: var(--font-xlg);
    color: var(--color-gray);
}

.tutorial-dialog {
    background-color: var(--medium-yellow);
    color: var(--color-dark-gray);
}

.tutorial-colorbox {
    min-width: 15px;
    height: 15px;
    display: inline-block;
    background-color: var(--bold-yellow);
    border: 1.5px solid  
}
.tutorial-dialog Button {
    color: var(--color-dark-gray);
    font-weight: var(--font-bold);
}

@media (min-width: 900px) {
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50%;
    right: 10%;
    width: 300px;
  }

.sidebar .sidebar-btn {
    font-size: var(--font-lg);
    border: 2px solid var(--border);
}

.hint {
    gap: 10px
}

.hint-list {
    gap:10px;
}

.hint-item {
    height: 37px;
    min-width: 15px;
}

.hint-list h1 {
    font-size: var(--font-xlg);
}
}