.square {
    font-size: var(--font-lg);
    color: var(--color-dark-gray);
    height: 35px;
    width: 35px;
    margin: 2px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: 1px solid var(--border);
    border-radius: var(--border-rounded-md);
    background-color: var(--color-white);
    cursor: pointer;
    place-items: center;    
  }

  #correct {
    border:none;
    animation: flip 1s linear;
    background-color: var( --color-green);
  }
  
  #almost {
    border:none;
    animation: flip 1s linear;
    background-color: var( --bold-yellow);
  }
  
  #wrong {
    border: none;
    animation: flip 1s linear;
    background-color: var(--color-gray);
  }

  @keyframes flip {
    0% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(360deg);
    }
  }