.letter, .keyboard-container span {
    min-width: 25px;
    background-color: var(--medium-yellow);
    color: var(--color-gray);
    font-weight: var(--font-bold);
    font-size: var(--font-md);
    margin: 0.25em;
    border: 1px solid var(--border);
    border-radius: var(--border-rounded-md);
    padding: 0 0.25em;
    cursor: pointer;
    filter: drop-shadow(0px 3px 0px rgba(0, 0, 0, 0.2));
}

.letter:hover {
    background-color: #fdd796;
}

.letter:active {
    transform: scale(1.05); 
}